pygame==2.5.2
pywin32==306
pynput==1.7.6
psutil==5.9.8
requests==2.31.0
Pillow==10.2.0
colorama==0.4.6
keyboard==0.13.5
mouse==0.7.1
numpy==1.26.4
opencv-python==4.9.0.80
pyautogui==0.9.54
pydirectinput==1.0.4
win32api==306
pygetwindow==0.0.9